@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: url('../../image/background-2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

:root {
    --black: #333;
    --yellow: #ffa200;
    --yellow2: #ffbf75;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
}

section {
    position: relative;
    width: 100%;
    padding: 0 100px 100px 100px;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 15px;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-card-rank {
    padding: 20px;
    border-color: white;
    border-width: 20px;
}

.container-card-rank img {
    width: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.container-card-rank .number {
    font-weight: bold;
    font-size: 25px;
}

.container-list {}

.container-list-item {
    border-radius: 10px;
    color: black;
    padding: 10px;
    display: flex;
}

.container-list-item .name {
    margin-left: 25px;
}

.container-list-item .score {
    right: 0;
    position: absolute;
    margin-right: 30px;
}